/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1em;
  background: black;
}


.container {
  background-color: rgba(240, 60, 60, 0.8);
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.centered {
  text-align: center;
}

.col-md-4, .col-md-6, .col-md-8, .col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  vertical-align: middle;
  content: url("images/pizza.png");
}

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

input {
  background: #CCCCCC;
  font-size: 18px;
}
form {
  display: inline-block;
}

.large{
  width: 585px;
}

.large img {
  content: url("images/pizza.png");
}

@media (min-width: 768px) {
  .container {
  width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
  width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
  width: 1170px;
  }
}

.medium {
  width: 389.961px;
}

.medium img {
  content: url("images/pizzaMd.png");
}

.mover {
  position: fixed;
  width: 256px;
  z-index: -1;
}

#pizzaSize {
  font-weight: 800;
}

.randomPizzaContainer {
  float: left;
  display: flex;
  width: 325px;
  height: 325px;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

.small {
  width: 292.5px;
}

.small img {
  content: url("images/pizzaSm.png");
}












